<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI PDF Study Assistant</title>
</head>


<body>

    <h1>AI PDF Study Assistant</h1>

    <p>Upload a PDF to summarize and ask questions.</p>

    <h2>Upload PDF</h2>

    <input type="file" id="pdfFile" accept=".pdf">

    <button type="button" id="uploadButton">
        Upload
    </button>

    <p id="uploadStatus"></p>

    <h2>Summary</h2>
    <pre id="summary"></pre>

    <h2>Ask PDF</h2>

    <input
        type="text"
        id="questionInput"
        placeholder="Ask a question about the PDF"
    >

    <button type="button" id="askButton">
        Ask
    </button>

    <p id="askStatus"></p>

    <h2>Answer</h2>
    <pre id="answer"></pre>


    <script src="/static/js/app.js"></script>

    
</body>
</html>